.header
  height: 60vh
  background: linear-gradient(to bottom, #38c9bf 0%, #38b3aa 100%)
  display: flex
  flex-direction: column
  align-items: center
  color: #fff

  &__title, &__subtitle
    padding: $xl-size
    font-weight: 400
    box-shadow: 2px 2px 10px 0 $fontDark
    border-radius: 5px

  &__title
    margin-top: $xxl-size
    background-color: $mainYellow
    font-size: $xxl-size
    border: 5px dashed $mainPurple
    transform: translateX(-100px)

  &__subtitle
    background-color: $mainPurple
    font-size: $l-size
    transform: translate(100px, -20px)
    position: relative
    z-index: 1

@media (max-width: $breakpoint)
  .header
    height: auto

    &__title, &__subtitle
      width: 100%
      font-size: $m-size
      transform: translateX(0)
      text-align: center
      box-shadow: none
      border-radius: 0

    &__title
      font-size: $l-size
      margin: 0

    &__subtitle
      font-size: $m-size