.searcher
  display: flex
  flex-direction: column
  position: relative

  &__container
    display: flex
    position: absolute
    width: 100%
    height: 70vh

  &__noresult
    font-size: $l-size
    text-align: center
    padding-top: 20px
    font-weight: 300

  &__filters
    padding: 20px
    width: 20%
    height: 100%
    display: flex
    flex-direction: column

    &--header
      font-weight: 300

    &--filter
      height: $xl-size
      width: 100px
      font-size: $m-size
      border: 0
      border-bottom: 1px solid $fontLight
      font-weight: 300
      color: $fontLight
      margin-left: 10px

      &:focus
        outline: none

  &__searchbar
    display: flex
    justify-content: center
    align-items: center
    transform: translateY(-200%)

    &--input, &--select
      height: $xxl-size
      width: 300px
      font-size: $m-size
      border: 0
      font-weight: 300
      color: $fontLight
      padding: 0 20px

      &:focus
        outline: none

    &--input
      margin-right: 1px

      &::placeholder
        color: $fontLight

    &--btn
      height: $xxl-size
      width: 50px
      border: 0
      background-color: $mainYellow
      border-radius: 0 5px 5px 0
      &:focus
        outline: none

      i
        color: white
        font-size: $m-size

  &__table
    border-collapse: collapse
    width: 100%
    text-align: center
    display: block

    &--container
      width: 80%

    &--head
      display: block
      background-color: white
      border-bottom: 1px solid $fontLight
      width: 100%

      tr
        display: flex
        width: 100%

        th
          padding: $m-size
          font-weight: 400
          color: $fontDark
          width: 20%

          &:first-child
            width: 40%

    &--body
      display: block
      max-height: calc( 70vh - 55px)
      overflow-y: auto
      overflow-x: hidden

      tr
        display: flex
        width: 100%

        &:nth-child(2n + 2)
          background-color: #fff
        &:nth-child(2n + 1)
          background-color: rgb(255, 254, 187)

        td
          padding: $m-size
          font-weight: 400
          color: $fontDark
          width: 20%

          &:first-child
            width: 40%
            text-align: left

          a
            color: $mainPurple
            text-decoration: none
            font-weight: 400

@media (max-width: $breakpoint)
  .searcher

    &__container
      display: flex
      flex-direction: column
      position: relative

    &__filters
      width: 100%
      height: auto

    &__table

      &--head
        tr
          th
            padding: $s-size
      &--container
        width: 100%

    &__searchbar
      background-color: $mainBlue
      flex-direction: column
      transform: translateY(0)
      padding: 20px 0

      &--input, &--select, &--btn
        margin: 5px

      &--btn
        border-radius: 5px
        width: 300px