.toolbar
  display: flex
  align-items: center
  justify-content: space-between
  color: #fff
  background-color: $mainBlue
  height: 7vh

  &__logo
    color: white
    text-decoration: none
    display: flex
    align-items: center
    height: 100%
    font-size: $xl-size
    padding: 0 $xxl-size
    border-right: 1px solid $mainBlueDark

  &__socials
    display: flex
    align-items: center
    height: 100%
    padding: 0 $xxl-size
    border-left: 1px solid $mainBlueDark

    &--social
      color: #fff
      padding-left: $m-size

@media (max-width: $breakpoint)
  .toolbar

    &__logo, &__socials
      border: 0
      padding: 0 $s-size

